<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <img src="/assets/Elian Foto.jpg" height="380px" width="300px" />
      <ion-card-header>
        <ion-card-title>Datos de contacto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Elian Javier Baez Estepan<br />
        Elianinf04@gmail.com<br />
        Desarrollador de Software<br />
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
